* {
	box-sizing: border-box;
	font-family: Roboto, "Helvetica Neue", Helvetica, Arial;
	font-size: 16px;
	text-decoration: none;
	background-color: white;
	color: #4C2882;

}

html, body {
	height: 100%;
}

h1 {
	text-align: center;
	visibility: hidden;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
}

div, ul {
	margin: 0px auto;
	padding: 0;
}

div {
	height: 100%;
}
a {
	text-decoration: none;
}

.button {
	border: 2px solid #4C2882;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px;

}

.button:hover {
	background-color: #E6E6E6;
}

.button:active {
	background-color: #B8B8B8;
}

#tabs-container {
	height: auto;
	overflow: auto;
}

#tabs-menu {
	float: left;
	padding: 0px;
	height: 100vh;
	margin: 0px;

	border-top: 1px solid black;
	border-right: 1px solid black;
	
}

#tabs-menu li {
	padding: 10px;
	list-style: none;

	border-left: 1px solid black;
	border-bottom: 1px solid black;
}

#tab-menu li.selected {

	border-right: 1px solid #4C2882;
}


#tabs {
	margin-top: 20px;
	position: relative;
	float: left;
	width: calc(100% - 95px);

}

.tab-content {
	position: relative;
	padding-left: 20px;
	margin-left: auto;
	margin-right: auto;
	min-height: 100%;
	overflow: hidden;
	display: block;
	margin-right: auto;

}

#monster-top {
	display: block;

}

#monster-portrait-container {
	display: inline-block;
	position: relative;
	width: auto;
}

#monster-portrait-container img {
	border: 2px solid #4C2882;
}

#monster-selection {
	font-size: 16px;
	position: relative;
	display: inline-block;
	vertical-align: top;

}

#monster-selection div select {
	-webkit-appearance: menulist-button;
	min-height: 25px;
	font-size: 16px;
	text-align: center;
	border: 0;
}

#monster-selection div select option{
	text-align: center;
}

#load-save-btn {
	position: absolute;
	right: 0px;
}

#monster-stats {
	width: 100%;
	display: block;
	overflow: auto;
	border: 2px solid #4C2882;
	padding: 10px;
	border-radius: 5px;
	margin-top: 10px;

}


#monster-basic-stats, #glory-buildings, #runes-skill-level {
	width: 33.3333333%;
	float: left;
	display: inline-block;
	vertical-align: top;
	overflow: auto;
	min-width: 350px;
	margin-bottom: 10px;
}

#monster-stars-level input {
	text-align: right;
	width: 30px;
}

table {
	width: 100%;
	text-align: center;
}

table tr {
	display: table-row;
	margin-left: auto;
	margin-right: auto;

}

td select {
	margin-left: auto;
	margin-right: auto;
}

td {
	margin-left: auto;
	margin-right: auto;
}

tbody {
	width: 100%;
}

caption {
	width: 100%;
}

td input {
	margin-left: auto;
	margin-right: auto;
	text-align: right;
}

/**
#glory-buildings table {
	text-align: right;
}
**/

.monster-basic-stat-input {
	width: 50px;
}

.glory-input {
	width: 50px;
}

#runes-skill-level select {
	margin: 0px auto;
	width: 100%;

}

.skill-level-input {
	width: 25px;
}

#simulation {
	padding-top: 20px;
	display: block;
	height: 40%;
	overflow: auto;
}

#simulation-left, #simulation-right {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	min-width: 350px;
	float: left;

}

#simulation-left {
	width: 30%;
	padding-left: 15px;
}

#simulation-right {
	width: 65%;
	margin: 0 0 0 auto;
}

#log-container {
	border: 1px solid black;
	height: 200px;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%;
}



.log-entry {
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	word-wrap: break-word;
	min-width: 100%;
	margin-right: 100%;
	font-size: 10px;
}

.debug-entry {
	display: none;
	padding-left: 20px;
	padding-right: 20px;
	word-wrap: break-word;
	min-width: 100%;
	margin-right: 100%;
	font-size: 10px;
}

#map-container, #number-of-sim-container, #button-container {
	margin-bottom: 15px;
}

#load-container {
	position: fixed;
	display: none;
	z-index: 1337;
	left: 12.5%;
	right: 12.5%;
	top: 12.5%;
	bottom: 12.5%;
	height: 75%;
	border-radius: 5px;
}

#load-container-header {
	position: absolute;
	display: block;
	top: 12px;
	right: 12px;
	margin: 0;
	padding: 0;
	height: auto;

}

#load-container-header a {
	display: block;
	height: 12px;
	width: 12px;
	background-image: url(../assets/purple-cross.png);
	background-repeat: no-repeat;
	background-size: 12px;
	background-position: center;

	text-decoration: none;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

#load-body { 
	display: block;
	padding: 50px;
	overflow: hidden;
	border-radius: 5px;
	border: 2px solid #4C2882;

}

.split-panel-section {
	width: 50%;
	height: 90%;
	float: left;
	overflow-y: auto;
}

.split-panel-section:nth-child(2) {
	padding-left: 2.5%;
	padding-right: 2.5%;
}

#load-body div ul {
	position: relative;
	display: block;
	height: calc(100% - 50px);
	width: 75%;
	padding: 0;
	margin-top: 5px;
	border: 3px solid #4C2882;
	overflow-y: hidden;

}

#save-data-header {
	margin-left: 12.5%;
	font-size: 20px;

}

.save-data {
	list-style: none;
	padding: 2px 5px 2px 5px;
	border-bottom: 1px solid rgba(76, 40, 130, 0.5);

}

.save-data:hover {	
	background-color: #E6E6E6;
}

.save-data:active {
	background-color: #B8B8B8;
}

.save-data:last-child {
	border-bottom: none;
	padding-bottom: 0px;
}

#load-build-name {
	position: relative;
	height: auto;
	padding: 0px 0px 10px 0px;
}

#delete-button {
	position: absolute;
	color: red;
	border-color: red;
	right: 5px;
	top: 10px;
}

#load-monster-top {
	height: auto;
	width: auto;
	position: relative;
}

#load-monster-basic-info {
	display: inline-block;
	position: relative;
	margin-top: 10px;
	height: 60px;
	width: 60px;
	font-size: 20px;
}

#load-monster-portrait {
	height: 60px;
	width: 60px;
}

.portrait-star {
	position: absolute;
	height: 16px;
	width: auto;
	top: 1.8px;
	background: transparent;
}

.portrait-star-1 {
	left: 0px;
}

.portrait-star-2 {
	left: 8px;
}

.portrait-star-3 {
	left: 16px;
}

.portrait-star-4 {
	left: 24px;
}

.portrait-star-5 {
	left: 32px;
}

.portrait-star-6 {
	left: 40px;
}

.portrait-level {
	position: absolute;
	bottom: -3px;
	right: 5px;
	font-size: 16px;
	background: transparent;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}
#load-monster-name {
	position: absolute;
	margin-left: 20px;
	display: inline-block;
	top: 20px;
	font-size: 18px;
	height: auto;
}

#load-monster-bottom {
	height: auto;
}

#load-monster-bottom p, #load-monster-bottom table {
	margin-top: 10px;
	margin-bottom: 0px;
}

#load-monster-bottom table {
	border-spacing: 0;
	border-radius: 5px;
	border-collapse: collapse;
} 

#load-monster-bottom caption {
	text-align: left;
}

#load-monster-bottom table tbody {
	border: 2px solid #4C2882;
	border-radius: 5px;
	border-spacing: 0;
	width: auto;
}

.load-stat-1 {

}

.load-stat-2 {
	
}

.load-stat-3 {
	color: green;
}

.load-stat-4 {
	
}

.load-stat-5 {
	
}

td span {
	color: inherit;
}

#load-footer {
	clear: both;
	height: initial;
	margin: 0 auto;
	text-align: center;
}

#load-footer span {
	display: inline-block;
	margin: 20px;
	text-transform: uppercase;
}

#backdrop {
	position: fixed;
	display: none;
	background-color: black;
	opacity: 0.5;
	z-index: 1336;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

